<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rentbikes.dao.basicInfo.MSPhaseDao">
	<insert id="addPhase" parameterType="MSPhase">
		<selectKey keyProperty="phaseId" resultType="int" order="BEFORE">
			select phaseId.nextval from dual 
		</selectKey>
		insert into msphase values(#{phaseId},#{url},#{description})
	</insert>
	<delete id="deletePhase" parameterType="int">
		delete from msphase where phaseId=#{phaseId}
	</delete>
	<update id="updatePhase" parameterType="MSPhase">
		update msphase set url=#{url},description=#{description} where phaseId=#{phaseId}
	</update>
	<select id="getSize" resultType="int">
		select count(phaseId) from msphase
	</select>
	<select id="getPage" resultType="MSPhase" parameterType="java.util.Map">
		<![CDATA[
		select temp.phaseId,temp.url,temp.description 
		from (select rownum rn,ms.* from (select m.* from msphase m order by phaseId) ms ) temp
		where rn>=#{start} and rn<=#{end}
		]]>
	</select>
	<select id="getSearchSize" resultType="int" parameterType="MSPhase">
		select count(m.phaseId) from msphase m where description like '%${description}%'
	</select> 
	<select id="getSearch" parameterType="java.util.Map" resultType="MSPhase">
		<![CDATA[
		select temp.phaseId,temp.url,temp.description 
		from (select rownum rn,ms.* from (select m.* from msphase m where description like '%${description}%' order by phaseId) ms) temp
		where rn>=#{start} and rn<=#{end}
		]]>
	</select>
	<select id="getAll" resultType="MSPhase">
		select temp.phaseId,temp.url,temp.description from msphase temp
	</select>
	
	<!-- 根据角色获取所有权限 -->
	<select id="listAllByRoleId" parameterType="int" resultType="MSPhase">
		select m.* 
		from msphase m,sypermission s
		where m.phaseId=s.phaseId and s.roleId=#{roleId}
	</select>
	
</mapper>